
body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #6a11cb, #2575fc); 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.form-wrapper {
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

h2 {
    font-weight: 700;
    color: #333;
    margin-bottom: 20px;
}


label {
    font-weight: 400;
    display: block;
    text-align: left;
    margin-bottom: 5px;
    color: #555;
}


input, textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
}

input:focus, textarea:focus {
    outline: none;
    border-color: #6a11cb;
    box-shadow: 0 0 5px rgba(106, 17, 203, 0.5);
}


button {
    background-color: #6a11cb;
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
}


button:hover {
    background-color: #2575fc;
}


#message {
    margin-top: 15px;
    font-size: 14px;
    color: #333;
}